<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price | currency : 'INR'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Total : {{totalPrice}}</h1>
                <div class="col-md-2"> <button type="button" class="btn btn-primary" (click)="CheckOut()" mdbRipple>Checkout</button></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
