<!-- <app-spinner></app-spinner>

<router-outlet></router-outlet>
<div class="container">
  <app-sidebar *ngIf="isCheckoutRoute()"></app-sidebar>
  <div id="main">
    <router-outlet></router-outlet>
  </div>
  </div> -->

<ngx-spinner type="ball-pulse-sync">
  <div class="spinner-border" role="status">
  </div>
</ngx-spinner>

<mat-toolbar color="primary" *ngIf="isCheckoutRoute()">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>E-shop</h1>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="LogOut()">
    <mat-icon matTooltip="LogOut">login</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container autosize="true">
  <mat-sidenav *ngIf="isCheckoutRoute()" [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <a mat-list-item routerLink=''>
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </span>
      </a>
      <a mat-list-item routerLink='/products'>
        <span class="entry">
          <mat-icon>list</mat-icon>
          <span *ngIf="!isCollapsed">Products</span>
        </span>
      </a>
      <a mat-list-item routerLink='/category'>
        <span class="entry">
          <mat-icon>list</mat-icon>
          <span *ngIf="!isCollapsed">Category</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>