<mat-nav-list class="sidenav">
    <a mat-list-item routerLink=''>
      <mat-icon>home</mat-icon> &nbsp; Home
    </a>
    <a mat-list-item routerLink='/products'>
      <mat-icon>list</mat-icon> &nbsp; Products1
    </a>
    <a mat-list-item routerLink='/category'>
      <mat-icon>list</mat-icon> &nbsp; Categories
    </a>
    <a mat-list-item routerLink='/account'>
      <mat-icon>list</mat-icon> &nbsp; Account
    </a>
    <a mat-list-item (click)="LogOut()">
      <mat-icon>exit_to_app</mat-icon> &nbsp; LogOut
    </a>
</mat-nav-list>